<h1>terminal-one</h1>

<!-- search in saved notes -->
<div>
    <form action="" id="searchForm">
        <input type="text" id="searchNotesInput" placeholder="Search Note">
        <br><br>
        <button class="btn" type="submit" id="searchButton">Search</button>
    </form>
</div>
<br><br>

<!-- create new note -->
<div>
    <form name="createNote" id="createNote">
        <input id="TitleInput" type="text" maxlength="25" placeholder="Type a title...">
        <br><br>
        <textarea id="note-input" placeholder="Write your note here..."></textarea>
        <br>
        <button class ="btn" type="submit" id="saveButton">Save</button>
</div>

<div>
    <!-- where saved notes will be -->
    <div id="all-notes" class="all-notes">
        {{#each notes as |note|}}
            <div class="note-card pink" id="noteCard{{note.id}}">
                <div class="card-title">
                     <h3 id="noteTitle{{note.id}}" class="note-title">{{note.title}}</h3>
                     <i class="fa-solid fa-users" onclick="shareNote({{note.id}})"></i>
                     <i class="fa-solid fa-trash-can"></i>
                </div>
               
                <p class="note-content">{{note.content}}</p>
            </div>
        {{/each}}
    </div>
</div>

<script src="js/notes.js"></script>

